<a href="https://colab.research.google.com/github/Ruxi00/random/blob/main/ruxi_CP23ASR_MYCT_Practice_Package.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
names = ['ruixin', 'margaret', 'lol']
for i in names:
  print(i)

ruixin
margaret
lol

In [15]:
for i in range(5):
  print(i)

0
1
2
3
4

#CP23ASR MYCT Practice Package

Before 27 Jun 2023 (MYCT date), besides passing saving the world projects 1 and 2, students should possess the following baseline competencies:

Be able to construct programming solutions involving fundamental constructs (data types, operators, variables, conditional statements, loops and functions) and mainly the following topics:

**File io (input output)**
* flat file (fixed length)
* csv file (variable length)

In [16]:
# flat file

header = ["Name", "Age"]  # Define the header names
name = ["Bob", "Tom", "Jerry", "Jesus", "\"Korean Jesus\"", "Maple", "Lisa", "Jack", "Moby", "Obama"]  # List of names
age = [10, 11, 12, 13, 60, 69, 14, 15, 16, 17, 70]  # List of ages
person = dict(zip(name, age))  # Create a dictionary mapping names to ages

# Write the data to a flat file
with open("TEST DATA.txt", "w") as f:
    f.write(",".join(header) + "\n")  # Write the header row
    for name, age in person.items():
        f.write(f"{name},{age}\n")  # Write each name and age as a row in the flat file

# Append new data to the flat file
new_data = [("Alice", 25), ("John", 30)]  # New data to be appended
with open("TEST DATA.txt", "a") as f:
    for name, age in new_data:
        f.write(f"{name},{age}\n")  # Append each name and age as a row in the flat file

read_person = []
# Read and output the content of the flat file
with open("TEST DATA.txt", "r") as f:
    read_header = f.readline().strip().split(",")  # Read the header row
    for line in f:
        name, age = line.strip().split(",")  # Split each line by comma
        read_person.append([name, int(age)])  # Append the name and age as a list to the read_person list

print("Read headers:", read_header)
print("Read person:", read_person)
print()

for row in read_person:
    print(f"Person: {row[0]}, Age: {row[1]}")

Read headers: ['Name', 'Age']
Read person: [['Bob', 10], ['Tom', 11], ['Jerry', 12], ['Jesus', 13], ['"Korean Jesus"', 60], ['Maple', 69], ['Lisa', 14], ['Jack', 15], ['Moby', 16], ['Obama', 17], ['Alice', 25], ['John', 30]]

Person: Bob, Age: 10
Person: Tom, Age: 11
Person: Jerry, Age: 12
Person: Jesus, Age: 13
Person: "Korean Jesus", Age: 60
Person: Maple, Age: 69
Person: Lisa, Age: 14
Person: Jack, Age: 15
Person: Moby, Age: 16
Person: Obama, Age: 17
Person: Alice, Age: 25
Person: John, Age: 30

In [17]:
# csv file

import csv

header = ["Name", "Age"]  # Define the header names
name = ["Bob", "Tom", "Jerry", "Jesus", "\"Korean Jesus\"", "Maple", "Lisa", "Jack", "Moby", "Obama"]  # List of names
age = [10, 11, 12, 13, 60, 69, 14, 15, 16, 17, 70]  # List of ages
person = dict(zip(name, age))  # Create a dictionary mapping names to ages

# Write the data to a CSV file
with open("TEST DATA.csv", "w", newline="") as f:
    writer = csv.writer(f)
    writer.writerow(header)  # Write the header row
    for name, age in person.items():
        writer.writerow([name, age])  # Write each name and age as a row in the CSV

# Append new data to the CSV file
new_data = [("Alice", 25), ("John", 30)]  # New data to be appended
with open("TEST DATA.csv", "a", newline="") as f:
    writer = csv.writer(f)
    for name, age in new_data:
        writer.writerow([name, age])  # Append each name and age as a row in the CSV

# Read and output the content of the CSV file
with open("TEST DATA.csv", "r", newline="") as f:
    reader = csv.reader(f)
    read_header = next(reader)  # Read the header row
    read_person = list(reader)  # Read the remaining rows

print("Read headers:", read_header)
print("Read person:", read_person)
print()

for row in read_person:
    print(f"Person: {row[0]}, Age: {row[1]}")

Read headers: ['Name', 'Age']
Read person: [['Bob', '10'], ['Tom', '11'], ['Jerry', '12'], ['Jesus', '13'], ['"Korean Jesus"', '60'], ['Maple', '69'], ['Lisa', '14'], ['Jack', '15'], ['Moby', '16'], ['Obama', '17'], ['Alice', '25'], ['John', '30']]

Person: Bob, Age: 10
Person: Tom, Age: 11
Person: Jerry, Age: 12
Person: Jesus, Age: 13
Person: "Korean Jesus", Age: 60
Person: Maple, Age: 69
Person: Lisa, Age: 14
Person: Jack, Age: 15
Person: Moby, Age: 16
Person: Obama, Age: 17
Person: Alice, Age: 25
Person: John, Age: 30

In [18]:
# flat file

file1 = open("myfile.txt", "w")
L = ["This is pioneer \n", "This is boonlay \n", "This is lakeside \n"]
file1.writelines(L)
file1.close()

# append
file1 = open("myfile.txt", "a")
file1.write("This is chinese garden \n")
file1.close()

# read and output content
file1 = open("myfile.txt", "r")
print("Output of readilnes after appending")
print(file1.read())
print()
file1.close()

# write
file1 = open("myfile.txt", "w")
file1.write("You just got overwritten \n")
file1.close()

# print final
file1 = open("myfile.txt", "r")
print("Output of readlines after write mode")
print(file1.read())
print()
file1.close()

Output of readilnes after appending
This is pioneer
This is boonlay
This is lakeside
This is chinese garden


Output of readlines after write mode
You just got overwritten

# New section

**Data validation techniques**
* presence check
* length check
* data type check
* format check
* range check
* existence check
* check digit

In [29]:
nrics = ['T0427194C',  'T0573917E', 'T0613948A']

valid_nric = False
while not valid_nric:
  nric = input("Enter nric: ")
  if nric == " ": # presence check
    print("Empty input")
  elif len(nric) != 9: # length check
    print("invalid NRIC length")
  elif not nric[0].isalpha() and nric[-1].isalpha() and nric[1:-1].isdigit(): # format / data type check
    print("invalid")
  elif not 4 <= int(nric[1:3]) <=6 : # range check
    print("invalid NRIC range")
  elif not nric in nrics: # existence check
    print("NRIC not found")
  else:
      valid_nric = True

print("nric is valid")

Enter nric:
Empty input
Enter nric: T0238y4927450B
invalid NRIC length
Enter nric: T09w74839274
invalid NRIC length
Enter nric: T0739471B
invalid NRIC range
Enter nric: T0427194C
nric is valid

In [20]:
# existence check
def generate_check_alphabet(nric):
    weights = [2, 7, 6, 5, 4, 3, 2]
    checks = ['J', 'Z', 'I', 'H', 'G', 'F', 'E', 'D', 'C', 'B', 'A']

    total = 0
    for i in range(len(weights)):
        total += int(nric[i+1]) * weights[i]

    if nric[0] == 'T':
        total += 4

    remainder = total % 11
    return checks[remainder]


def is_valid_nric(nric):
    return nric[-1] == generate_check_alphabet(nric)


# main
snric = input("Enter NRIC: ")
print(is_valid_nric(snric))

Enter NRIC: T0427194C
True

**Types of errors**
* syntax: violate rules of programming language
* logic: intent implemented wrongly
* runtime: unexpected program output

In [27]:
# syntax error
print("Hello")
# or
for i in range(3)
  print(i)

SyntaxError: ignored

In [25]:
#logic error
import math
radius = 5
area = math.pi * radius * 2 #should be **
print(area)

31.41592653589793

In [28]:
#runtime error
# Runtime Error
number = int(input("Enter a number: "))
result = 10 / number  # ZeroDivisionError if user enters 0
print("The result is:", result)

Enter a number: 0

ZeroDivisionError: ignored

**Testing techniques**
* normal data
 * Test with typical, expected input data
 * Verify that the system behaves correctly with valid input.
 * Focus on testing common paths and functionalities.
* erroneous data
 * Test with invalid or unexpected input data
 * Include test cases where input is missing, incorrect, or violates constraints.
 * Verify that appropriate error handling and error messages
* boundary data
 * Test at the boundaries of input ranges or system limits.
 * Include cases at lower and upper limits, just below, at, and just above the boundaries.
 * verify that the system handles edge cases correctly.

In [24]:
while True:
  age = input("Enter age (16-19): ")

  try:
    age = int(age)
    # boundary eg 15, 16, 19, 20
    if age == 16:
      print("lower boundary ")
    elif age == 19:
      print("upper boundary")
    # normal eg 17
    elif 16 <= age <= 19:
      print("normal data")
      break
    # erroneous eg 12,
    else:
      print("erroneous data")
  except ValueError:
    print("erroneous data")

Enter age (16-19): 12
erroneous data
Enter age (16-19): 16
lower boundary
Enter age (16-19): 19
upper boundary
Enter age (16-19):
erroneous data
Enter age (16-19): 17
normal data

**Searching & Sorting Algorithms**
Be able to produce the searching and sorting algorithms each in under 5 min

* linear search
* binary search (iterative and recursive)
* bubble sort (non-optimised and optimised)
* insertion sort
* quick sort
* merge sort

In [30]:
# linear search (for) (finding FIRST occurence)
def linear_search(A, target):
  for i in range(len(A)):
    if A[i] == target: # found
      return i
    # sorted list
    # elif A[i] > target:
    #   return -1
  return -1 # not found

# main
data = [6, 2, 5, 1, 7]
print(linear_search(data, 1)) # success
print(linear_search(data, 4)) # failure

3
-1

In [31]:
# linear search (for) (finding LAST occurence)
def linear_search(A, target):
  for i in range(len(A)-1, -1, -1): # len(A)-1 = start point of lopop , -1 = end point, -1 = step size
    if A[i] == target: # found
      return i
    # sorted list
    # elif A[i] > target:
    #   return -1
  return -1 # not found

# main
data = [6, 2, 5, 1, 7, 7]
print(linear_search(data, 7)) # success
print(linear_search(data, 4)) # failure

5
-1

In [32]:
# linear search (duplicates-find all occurences)
def linear_search(A, target):
  result = []
  for i in range(len(A)):
    if A[i] == target:
      result.append(i)
  if result != []: # len(result) == 0
    return result
  return -1

# main
data = [1, 2, 5, 2, 8, 8]
print(linear_search(data, 2)) # success return [1, 3]
print(linear_search(data, 7)) # failure return -1

[1, 3]
-1

In [33]:
# linear search (while)
def linear_search(A, target):
  i = 0
  while i < len(A):
    if A[i] == target: # found
      return i
    i += 1
  return "not found" # not found

# main
data = [6, 2, 5, 1, 7]
print(linear_search(data, 1)) # success
print(linear_search(data, 4)) # failure

3
not found

In [34]:
# binary search iterative (logarithmic) O(lg n)
def binary_search(A, target):
  low = 0 # start index
  high = len(A) - 1 # end index
  while low <= high: # no more items to search
    mid = (low + high) // 2 # find middle position
    if A[mid] == target: # found
      return mid # success
    elif A[mid] > target: # target in left half
      high = mid - 1 # new high is num before mid
    else: # A[mid] < target, ie target in right half
      low = mid + 1 # new low is num after mid
  return "not found"

# main
A = [1, 2, 3, 5, 6, 7, 9, 10]
print(binary_search(A, 7)) # success return 5
print(binary_search(A, 8)) # failure return not found

5
not found

In [35]:
# Binary search (recursive)
def binary_searchr(A, target, low, high):
  if low > high: # no more items
    return -1 # not found, terminating case 1
  else:
    mid = (low + high) // 2
    if A[mid] == target: # found
      return mid # terminating case 2
    elif target < A[mid]: # left half
      return binary_searchr(A, target, low, mid-1)
    else: # target > A[mid], # right half
      return binary_searchr(A, target, mid+1, high)

# main
data = [6, 8, 10, 13, 17]
print(binary_searchr(data, 13, 0, len(data)-1)) # success
print(binary_searchr(data, 11, 0, len(data)-1)) # fail

3
-1

In [ ]:
# bubble sort (non-optimised) O(n^2) - quadratic
def bubble_sort(A):
    n = len(A)
    for i in range(n):
        for j in range(n-1):
            # print(A[j], A[j+1])
            if A[j] > A[j+1]:
                A[j], A[j+1] = A[j+1], A[j]
    return A

#data = [4, 7, 1, 5, 2, 8, 3]
data = [1, 2, 3, 5, 4, 7, 6]
print(bubble_sort(data))

In [37]:
# bubble sort optimised
def bubble_sort(A):
    n = len(A)
    for i in range(n):
        swapped = False # assume sorted
        for j in range(n-1): # n-1 pairs
            # print(A[j], A[j+1])
            if A[j] > A[j+1]: # not in order
                A[j], A[j+1] = A[j+1], A[j] # swap
                swapped = True # not sorted in this pass
        if not swapped: # no swap in previous pass
            break # early exit
        n -= 1 # last item sorted
    return A

# main
data = [4, 7, 1, 5, 2, 8, 3]
#data = [1, 2, 3, 5, 4, 7, 6]
print(bubble_sort(data))

[1, 2, 3, 4, 5, 7, 8]

In [38]:
# insertion sort

def insertion_sort(A):
    for i in range(1, len(A)):
        temp = A[i]
        j = i - 1
        while j >= 0 and temp < A[j]:
            A[j + 1] = A[j]
            j -= 1
        A[j + 1] = temp
    return A

# main
data = [4, 7, 1, 5, 2, 8, 3]
print(insertion_sort(data))

[1, 2, 3, 4, 5, 7, 8]

In [39]:
# quick sort

def quicksort(A):
    if len(A) <= 1: # terminating cases (0 or 1 item)
        return A

    pivot = A[len(A) // 2] # midpoint
    left = [] # items less than pivot
    right = [] # items more than pivot

    for element in A:
        if element < pivot:
            left.append(element)
        elif element > pivot:
            right.append(element)

    return quicksort(left) + [pivot] + quicksort(right) # recursive cases

# main
data = [4, 7, 1, 5, 2, 8, 3]
print(quicksort(data))

[1, 2, 3, 4, 5, 7, 8]

In [40]:
# merge sort (linearithmic) O(n lg n)

def merge_sort(A):
    if len(A) <= 1: # terminating cases (0 or 1 item)
        return A

    mid = len(A) // 2 # midpoint
    left_half = A[:mid] # split left half
    right_half = A[mid:] # split right half

    left_half = merge_sort(left_half) # recursive calls
    right_half = merge_sort(right_half)

    return merge(left_half, right_half) # combine sorted items

def merge(left_half, right_half):
    i = j = 0 # two array indices
    merged_list = [] # resultant combined array
    while i < len(left_half) and j < len(right_half): # both not empty
        if left_half[i] < right_half[j]: # left item smaller
            merged_list.append(left_half[i]) # add to result
            i += 1 # next left item
        else: # right item smaller
            merged_list.append(right_half[j]) # add to result
            j += 1 # next right item

    merged_list += left_half[i:] # if there are still items in left half, add all to merged list
    merged_list += right_half[j:] # if there are still items in right half, add all to merged list

    return merged_list

# main
data = [4, 7, 1, 5, 2, 8, 3]
print(merge_sort(data))

[1, 2, 3, 4, 5, 7, 8]

**OOP (Object-oriented programming)**
* UML class diagram (theory)
* class vs object
* encapsulation
* inheritance
* polymorphism

In [41]:
# UML class diagram (theory)
# The class diagram is a visual representation of the classes, relationships, and structure of a system.

# Class vs Object
# A class is a blueprint or template that defines the characteristics and behaviors of an object.
# An object is an instance of a class, representing a specific entity with its own state and behavior.
# Class = "person", "student", "teacher"
# Object = "person1", student1", teacher1"

# Encapsulation
# Encapsulation is the bundling of data and methods (or functions) that manipulate the data, into a single unit called a class.
# It provides data hiding and access control mechanisms to protect the data from external interference.

class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def introduce(self):
        print(f"Hi, my name is {self.name} and I'm {self.age} years old.")


# Inheritance
# Inheritance allows a class to inherit attributes and behaviors from another class, known as the superclass or base class.
# The class that inherits from the superclass is called a subclass or derived class.

class Student(Person): # student subclass of person
    def __init__(self, name, age, student_id):
        super().__init__(name, age) # initialising the inherited attributes 'name'and 'age'
        self.student_id = student_id

    def study(self, subject):
        print(f"{self.name} is studying {subject}.")

    def introduce(self):
        super().introduce()
        print(f"I am a student with ID {self.student_id}.")


class Teacher(Person):
    def __init__(self, name, age, teacher_id):
        super().__init__(name, age)
        self.teacher_id = teacher_id

    def teach(self, subject):
        print(f"{self.name} is teaching {subject}.")

    def introduce(self):
        super().introduce()
        print(f"I am a teacher with ID {self.teacher_id}.")


# Polymorphism
# Polymorphism allows objects of different classes to be treated as objects of a common superclass.
# It enables methods with the same name to be invoked on different objects, resulting in different behaviors.

def introduce_people(people):
    for person in people:
        person.introduce() # introduce each person
        print() # print empty line


# Usage of the defined classes and functions

# Creating person objects
person1 = Person("John", 25)
student1 = Student("ruixin", 17, "S001")
teacher1 = Teacher("Mr Gi", 35, "T001")

# Introducing people
people = [person1, student1, teacher1]
introduce_people(people)

# Polymorphic behavior
student1.study("Math")
teacher1.teach("Computing")

Hi, my name is John and I'm 25 years old.

Hi, my name is ruixin and I'm 17 years old.
I am a student with ID S001.

Hi, my name is Mr Gi and I'm 35 years old.
I am a teacher with ID T001.

ruixin is studying Math.
Mr Gi is teaching Computing.

In [42]:
class Person: # parent / super class
  def __init__(self, pname, page):
    self.name = pname
    self.age = page

  def get_name(self):
    return self.name

  def get_age(self):
    return self.age

  def set_age(self, new_age):
    self.age = new_age

  def display(self):
    print(self.name)
    print(self.age)

class Student(Person): #child/ sub class
  def __init__(self, pname, page, scca):
    #dun do this: self.name = pname
    #dun do this: self.age = page
    super().__init__(pname, page)
    self.cca = scca

  def get_cca(self):
    return self.cca

  def display(self):
    #dont print(self.name) and (self.age)
    super().display() # print the name and age
    print(self.cca)

class Staff(Person):
  def __init__(self, pname, page, sdept):
    super().__init__(pname, page)
    self.dept = sdept

  def get_dept(self):
    return self.dept

  def display(self):
    #dont print(self.name) and (self.age)
    super().display()
    print(self.dept)

#main
mrsitt = Person("Husband", 18)
mscheong = Person("Wife", 15)
mrneo = Student("Son", 14, "Visual Art")
mrgi = Staff("Teacher", 120, "math")
#(mscheong.name, mscheong.age) #not proper way to access data
#print(mscheong.get_name(), mscheong.get_age())
#mscheong.set_age(16)
#print(mscheong.get_age())
#msneo.display()
#mrgi.display()
people = [mrsitt, mscheong, mrneo, mrgi]
for person in people: #polymorphism
  person.display()

Husband
18
Wife
15
Son
14
Visual Art
Teacher
120
math

**Data Structures**
as well as the following data structures and their associated common operations

* array
* dictionary
* hash table (alt to search)
* linked list
* stack
* queue
* binary search tree*

*For theory, knowledge and understanding of binary tree is expected.

In [43]:
array = []
dict = {}

In [44]:
# hash table

class HashTable:
    def __init__(self, size):
        self.size = size
        self.table = [[] for _ in range(size)]

    def hash_function(self, key):
        return hash(key) % self.size

    def insert(self, key, value):
        index = self.hash_function(key)
        self.table[index].append((key, value))

    def get(self, key):
        index = self.hash_function(key)
        for k, v in self.table[index]:
            if k == key:
                return v
        return None

    def remove(self, key):
        index = self.hash_function(key)
        for i, (k, v) in enumerate(self.table[index]):
            if k == key:
                del self.table[index][i]
                return

    def display(self):
        for index, bucket in enumerate(self.table):
            print(f'Bucket {index}: {bucket}')


# Main
hash_table = HashTable(10)
hash_table.insert('apple', 5)
hash_table.insert('banana', 7)
hash_table.display()
print('Get apple:', hash_table.get('apple'))
print('Get orange:', hash_table.get('orange'))
hash_table.remove('banana')
hash_table.display()

Bucket 0: []
Bucket 1: []
Bucket 2: [('apple', 5)]
Bucket 3: []
Bucket 4: []
Bucket 5: [('banana', 7)]
Bucket 6: []
Bucket 7: []
Bucket 8: []
Bucket 9: []
Get apple: 5
Get orange: None
Bucket 0: []
Bucket 1: []
Bucket 2: [('apple', 5)]
Bucket 3: []
Bucket 4: []
Bucket 5: []
Bucket 6: []
Bucket 7: []
Bucket 8: []
Bucket 9: []

In [45]:
# linked

# define a Node class to represent each element in the linked list
class Node:
    def __init__(self, data):
        self.data = data  # set the data attribute to the input data
        self.next = None  # set the next attribute to None by default

# define a LinkedList class to represent the linked list
class LinkedList:
    def __init__(self):
        self.head = None  # set the head attribute to None by default

    # define an append method to add a new element to the end of the list
    def append(self, data):
        new_node = Node(data)  # create a new Node object with the input data
        if self.head is None:  # check if the list is empty
            self.head = new_node  # if yes, set the new node as the head
        else:
            # if not, traverse the list to the last element and add the new node there
            current = self.head  # start from the head
            while current.next is not None:  # keep going until the last element
                current = current.next
            current.next = new_node  # set the next of the last element to the new node

    # define a prepend method to add a new element to the beginning of the list
    def prepend(self, data):
        new_node = Node(data)  # create a new Node object with the input data
        new_node.next = self.head  # set the next of the new node to the current head
        self.head = new_node  # set the new node as the head

    # define an insert_after method to add a new element after a specified element
    def insert_after(self, prev_node, data):
        if prev_node is None:  # check if the previous node exists
            print("Previous node is not in the list.")
            return  # if not, print an error message and return
        new_node = Node(data)  # create a new Node object with the input data
        new_node.next = prev_node.next  # set the next of the new node to the next of the previous node
        prev_node.next = new_node  # set the next of the previous node to the new node

    # define a delete method to remove the first occurrence of an element with the input data
    def delete(self, data):
        if self.head is None:  # check if the list is empty
            return  # if yes, there's nothing to delete
        if self.head.data == data:  # check if the head contains the input data
            self.head = self.head.next  # if yes, set the next node as the new head
            return
        current = self.head  # start from the head
        while current.next is not None:  # keep going until the end of the list
            if current.next.data == data:  # check if the next element contains the input data
                current.next = current.next.next  # if yes, skip over the next node
                return
            current = current.next  # otherwise, move to the next element

    # define a display method to print the elements of the linked list
    def display(self):
        current = self.head  # start from the head
        while current:
            print(current.data, end=" ")  # print the data of the current node
            current = current.next  # move to the next node
        print()  # print a new line after printing all elements

# Example usage:
linked_list = LinkedList()
linked_list.append(42)
linked_list.append(8)
linked_list.append(17)
linked_list.prepend(10)
linked_list.insert_after(linked_list.head, 99)
linked_list.delete(8)
linked_list.display()

10 99 42 17

In [46]:
# stack - using OOP
class Stack:
  def __init__(self):
    self.data = []
    self.top = -1

  def push(self, item):
    self.data.append(item)
    self.top += 1

  def pop(self):
    if len(self.data) == 0:
      return "cannot delete from empty stack"
    self.top -= 1
    return self.data.pop() #pop in line 10 diff from line 9

  def display(self):
    print(self.data)

# main
s = Stack()
s.push(5)
s.push(7)
s.display()
print(s.pop())
s.display()
print(s.pop())
print(s.pop())
s.display()

[5, 7]
7
[5]
5
cannot delete from empty stack
[]

In [47]:
# stack - using dynamic array

stack = []

def push(data): # no need to check if full
  stack.append(data)

def pop():
  if is_empty():
    return "Stack empty"
  else:
    item = stack.pop()
    return str(item) + " deleted"

def is_empty():
  return len(stack) == 0 # stack == []

# main
push(1)
push(2)
push(3)
print(stack)
print(pop())
print(pop())
print(pop())
print(pop())
print(stack)

[1, 2, 3]
3 deleted
2 deleted
1 deleted
Stack empty
[]

In [48]:
# Stack - LIFO
def spush(data): # insert
  global top
  if top == N - 1:   # if full, error
    print("Cannot insert to full stack")
  else: # else insert
    top += 1
    stack[top] = data
    print(data, "inserted")

def spop():
  global top
  if top == -1: # stack[top] == -1, if empty, error
    return "Cannot delete from empty stack"
  else: # delete
    item = stack[top]
    stack[top] = -1 # optional?
    top -= 1
    return item

# main
N = 3
stack = [-1 for i in range(N)]
top = -1
print(stack)
spush(123)
spush(456)
spush(789)
spush(000)
print(stack)
print(spop())
print(spop())
print(spop())
print(spop())
print(stack)

[-1, -1, -1]
123 inserted
456 inserted
789 inserted
Cannot insert to full stack
[123, 456, 789]
789
456
123
Cannot delete from empty stack
[-1, -1, -1]

In [49]:
# queue FIFO

N = 6
queue = [None for i in range(N)] # queue can hold N-1 items
front = -1 # index where next item is to be deleted
rear = 0 # index where next item is to be inserted

def enqueue(item):
  global rear, front
  if is_full():
    print("Queue full")
  else: # rear < N - 1
    queue[rear] = item
    rear = (rear + 1) % N
    print(item, "inserted")
    if is_empty(): # update front when empty queue
      front = (front + 1) % N

def dequeue():
  global front, rear
  if is_empty():
    return "Queue empty"
  else:
    item = queue[front]
    queue[front] = None
    front = (front + 1) % N
    if rear == front: # last item, reset
      front = -1
      rear = 0
    return str(item) + " deleted"

def is_full():
  return size() == N - 1

def is_empty():
  return front == -1

def size():
  if is_empty():
    return 0
  elif front < rear:
    return rear - front
  else: # wraparound
    return N - (front - rear)

# main
print(queue, size())
enqueue(1)
enqueue(2)
enqueue(3)
enqueue(4)
enqueue(5)
enqueue(6)
print(queue, size())
print(dequeue(), size())
print(dequeue(), size())
print(dequeue(), size())
print(queue, size())
print(dequeue(), size())
print(dequeue(), size())
print(dequeue(), size())
print(queue, size())

[None, None, None, None, None, None] 0
1 inserted
2 inserted
3 inserted
4 inserted
5 inserted
Queue full
[1, 2, 3, 4, 5, None] 5
1 deleted 4
2 deleted 3
3 deleted 2
[None, None, None, 4, 5, None] 2
4 deleted 1
5 deleted 0
Queue empty 0
[None, None, None, None, None, None] 0

In [50]:
# queue - using dynamic array

queue = []
# insert to end: append
# delete from front: remove

def enqueue(data):
  queue.append(data)

def dequeue():
  if is_empty():
    return "Queue empty"
  else:
    return queue.pop(0)

def is_empty():
  return len(queue) == 0 # or queue == []

def size():
  return len(queue)

# main
enqueue(1)
enqueue(2)
enqueue(3)
print(queue)
print(dequeue())
print(dequeue())
print(dequeue())
print(dequeue())
print(queue)

[1, 2, 3]
1
2
3
Queue empty
[]

In [51]:
# queue using OOP

class Queue:
    def __init__(self):
        self.data = []

    def enqueue(self, item):
        self.data.append(item)

    def dequeue(self):
        if len(self.data) == 0:
            return "Cannot dequeue from an empty queue"
        return self.data.pop(0)

    def display(self):
        print(self.data)


# Main
q = Queue()
q.enqueue(5)
q.enqueue(7)
q.display()
print(q.dequeue())
q.display()
print(q.dequeue())
print(q.dequeue())
q.display()

[5, 7]
5
[7]
7
Cannot dequeue from an empty queue
[]

In [52]:
# binary search tree

class BST:

    def __init__(self, data):
        self.data = data
        self.left = None
        self.right = None

    def insert(self, value):
        if value < self.data: # comparing with root
            if self.left is None: # can insert as left leaf node
                self.left = BST(value)
            else: # recursively insert to left subtree
                self.left.insert(value)
        else: # value > self.data
            if self.right is None: # can insert as right leaf node
                self.right = BST(value)
            else: # recursively insert to right subtree
                self.right.insert(value)

    def search(self, target):
        if self.data == target: # success
            return "Found"
        elif self.left is None and self.right is None: # unsuccessful / leaf
            return "Not found"
        elif target < self.data: # go left
            if self.left is None: # node with no left child or 1 right child
                return "Not found"
            else: # left subtree exists
                return self.left.search(target) # recursive 1 go left
        else: # target > self.data: # go right
            if self.right is None: # node with no right child or 1 left child
                return "Not found"
            else: # right subtree exists
                return self.right.search(target) # recursive 2 go right

    def inorder(self): # left root right
        if self.left: # recursive 1: go left because left subtree exists
            self.left.inorder()
        print(self.data, end=' ') # anchor/terminating case
        if self.right: # recursive 2: go right because right subtree exists
            self.right.inorder()

    def preorder(self): # left root right
        print(self.data, end=' ') # anchor/terminating case
        if self.left: # recursive 1: go left because left subtree exists
            self.left.preorder()
        if self.right: # recursive 2: go right because right subtree exists
            self.right.preorder()

    def postorder(self): # left root right
        if self.left: # recursive 1: go left because left subtree exists
            self.left.postorder()
        if self.right: # recursive 2: go right because right subtree exists
            self.right.postorder()
        print(self.data, end=' ') # anchor/terminating case

    def reverse(self): # left root right
        if self.right: # recursive 2: go right because right subtree exists
            self.right.reverse()
        print(self.data, end=' ') # anchor/terminating case
        if self.left: # recursive 1: go left because left subtree exists
            self.left.reverse()

    def minimum(self):
        if self.left is None: # leftmost
            print(self.data)
        else:
            self.left.minimum()

    def maximum(self):
        if self.right is None: # rightmost
            print(self.data)
        else:
            self.right.maximum()

# main
bst = BST(50)
bst.insert(30)
bst.insert(80)
bst.insert(10)
bst.insert(40)
bst.insert(90)
bst.insert(60)
bst.insert(70)
bst.inorder()
print()
print(bst.search(50))
print(bst.search(90))
print(bst.search(20))
bst.preorder()
print()
bst.postorder()
print()
bst.reverse()
print()
bst.minimum()
bst.maximum()

10 30 40 50 60 70 80 90
Found
Found
Not found
50 30 10 40 80 60 70 90
10 40 30 70 60 90 80 50
90 80 70 60 50 40 30 10
10
90

**Relational database with SQL**
theory
* normalisation (until 3NF, no repeating groups(PK), functional table, create table for dependent attributes)
* ER diagram
* table specification
practical
* create and alter table
* CRUD operations (create, read, update, delete)
* join
* aggregation functions (calculation), SELECT SUM...
* Python with SQLite workflow
----------
* Pk is unique (primary key), should not be changed
* Not null (value can be empty)
* Auto-increment 1-2-3
* Unique (eh handphone number)
---------
* Text (str)
* Blob(binary large object) holding binary file(image, music file) usually if have blob upload somewhere * * else and get the link to store it
* Real (float)
* Numeric (integer/real)

In [57]:
# Import modules
import sqlite3

# Connect to database (or create it if it does not exist)
conn = sqlite3.connect('example.db')

# Create cursor object to interact with the database
cur = conn.cursor()

# Create table
cur.execute('''CREATE TABLE IF NOT EXISTS users
               (id INTEGER PRIMARY KEY,
               name TEXT,
               age INTEGER)''')

# Insert data
cur.execute("INSERT INTO users (name, age) VALUES ('Alice', 30)")
cur.execute("INSERT INTO users (name, age) VALUES ('Bob', 25)")
cur.execute("INSERT INTO users (name, age) VALUES ('Charlie', 22)")

# display original data
print("original data")
rows = cur.execute("SELECT * FROM users")
for row in rows:
    print(row)

# Assuming the 'users' table already exists and has data
# Update example: Update the age of Alice to 31
cur.execute("UPDATE users SET age = ? WHERE name = ?", (31, 'Alice'))
conn.commit()

# Display updated data
print("Updated data(age is changed):")
rows = cur.execute("SELECT * FROM users")
for row in rows:
    print(row)

# Delete example: Delete the user named Bob
cur.execute("DELETE FROM users WHERE name = ?", ('Bob',))
conn.commit()

# Display updated data
print("Updated data(bob is deleted):")
rows = cur.execute("SELECT * FROM users")
for row in rows:
    print(row)

# Commit changes to disk
conn.commit()

# Query data
print("query data")
rows = cur.execute("SELECT * FROM users")
for row in rows:
    print(row)

# Close connection
conn.close()

original data
(1, 'Alice', 30)
(2, 'Bob', 25)
(3, 'Charlie', 22)
Updated data(age is changed):
(1, 'Alice', 31)
(2, 'Bob', 25)
(3, 'Charlie', 22)
Updated data(bob is deleted):
(1, 'Alice', 31)
(3, 'Charlie', 22)
query data
(1, 'Alice', 31)
(3, 'Charlie', 22)

In [58]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('example2.db')
cursor = conn.cursor()

# Create tables
cursor.execute('''CREATE TABLE Customers (
                    id INTEGER PRIMARY KEY,
                    name TEXT,
                    email TEXT)''')

cursor.execute('''CREATE TABLE Orders (
                    id INTEGER PRIMARY KEY,
                    customer_id INTEGER,
                    product TEXT,
                    price REAL,
                    FOREIGN KEY (customer_id) REFERENCES Customers(id))''')

# Insert data into tables
cursor.execute("INSERT INTO Customers (name, email) VALUES (?, ?)", ("John Doe", "john@example.com"))
cursor.execute("INSERT INTO Customers (name, email) VALUES (?, ?)", ("Jane Smith", "jane@example.com"))

cursor.execute("INSERT INTO Orders (customer_id, product, price) VALUES (?, ?, ?)", (1, "Product A", 10.99))
cursor.execute("INSERT INTO Orders (customer_id, product, price) VALUES (?, ?, ?)", (1, "Product B", 15.99))
cursor.execute("INSERT INTO Orders (customer_id, product, price) VALUES (?, ?, ?)", (2, "Product C", 5.99))

# Retrieve data from tables
cursor.execute("SELECT * FROM Customers")
print("Customers:")
print(cursor.fetchall())

cursor.execute("SELECT * FROM Orders")
print("Orders:")
print(cursor.fetchall())

# Update data
cursor.execute("UPDATE Customers SET email = ? WHERE id = ?", ("john.doe@example.com", 1))

# Delete data
cursor.execute("DELETE FROM Orders WHERE id = ?", (2,))

# Join example
cursor.execute('''SELECT Customers.name, Orders.product
                    FROM Customers
                    INNER JOIN Orders
                    ON Customers.id = Orders.customer_id''')
print("Join result:")
print(cursor.fetchall())

# Aggregation example
cursor.execute("SELECT SUM(price) FROM Orders")
print("Total price:")
print(cursor.fetchone()[0])

# Commit changes and close connection
conn.commit()
conn.close()

Customers:
[(1, 'John Doe', 'john@example.com'), (2, 'Jane Smith', 'jane@example.com')]
Orders:
[(1, 1, 'Product A', 10.99), (2, 1, 'Product B', 15.99), (3, 2, 'Product C', 5.99)]
Join result:
[('John Doe', 'Product A'), ('Jane Smith', 'Product C')]
Total price:
16.98

In [59]:
# students(student_id, name, class, email)
# subjects(subject_code, name, level)
# student_subject(student_id, subject_code)

# Import modules
import sqlite3

# Connect to database (or create it if it does not exist)
conn = sqlite3.connect('school.db')

# Create cursor object to interact with the database
cur = conn.cursor()

# Set up query
  # Create table
cur.execute('''CREATE TABLE IF NOT EXISTS students (student_id INTEGER PRIMARY KEY,
                                      name TEXT NON NULL,
                                      classid TEXT,
                                      email TEXT UNIQUE)''')
cur.execute('''CREATE TABLE IF NOT EXISTS subjects (subject_code TEXT PRIMARY KEY,
                                      name TEXT NON NULL,
                                      level TEXT)''')
cur.execute('''CREATE TABLE IF NOT EXISTS student_subject (student_id INTEGER,
                             subject_code TEXT,
               PRIMARY KEY (student_id, subject_code))''')

  # Insert/Select/Update/Delete data
cur.execute("""INSERT INTO students (student_id, name, classid, email) VALUES
               (1, 'Tom', '24/13', 'tom@test.com');""")
cur.execute("""INSERT INTO students (student_id, name, classid, email) VALUES
               (2, 'Mary', '24/13', 'mary@test.com');""")
cur.execute("""INSERT INTO students (student_id, name, classid, email) VALUES
               (3, 'Ali', '24/13', 'ali@test.com');""")

cur.execute("""INSERT INTO subjects (subject_code, name, level) VALUES
               ('8807', 'General Paper', 'H1');""")
cur.execute("""INSERT INTO subjects (subject_code, name, level) VALUES
               ('8808', 'Project Work', 'H1');""")
cur.execute("""INSERT INTO subjects (subject_code, name, level) VALUES
               ('9758', 'Mathematics', 'H2');""")

cur.execute("""INSERT INTO student_subject (student_id, subject_code) VALUES
               (1, '8807');""")
cur.execute("""INSERT INTO student_subject (student_id, subject_code) VALUES
               (1, '8808');""")
cur.execute("""INSERT INTO student_subject (student_id, subject_code) VALUES
               (1, '9758');""")
cur.execute("""INSERT INTO student_subject (student_id, subject_code) VALUES
               (2, '8807');""")
cur.execute("""INSERT INTO student_subject (student_id, subject_code) VALUES
               (2, '8808');""")
cur.execute("""INSERT INTO student_subject (student_id, subject_code) VALUES
               (2, '9758');""")

# Display (updated) data
rows = cur.execute("""SELECT a.student_id, b.name, a.subject_code, c.name
                      FROM student_subject as a, students as b, subjects as c
                      WHERE a.student_id=b.student_id AND a.subject_code=c.subject_code;""")

# Commit changes to disk
conn.commit()

# Query data
for row in rows:
  print(row)

# Close connection
conn.close()

(1, 'Tom', '8807', 'General Paper')
(1, 'Tom', '8808', 'Project Work')
(1, 'Tom', '9758', 'Mathematics')
(2, 'Mary', '8807', 'General Paper')
(2, 'Mary', '8808', 'Project Work')
(2, 'Mary', '9758', 'Mathematics')

In [62]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('Business.db')
cursor = conn.cursor() # point to one record at a time, excute property of cursor

# Execute SQL statements
# cursor.execute("CREATE TABLE employees (id INT, name TEXT)")
# cursor.execute("INSERT INTO employees VALUES (1, 'John')")
# cursor.execute("SELECT * FROM employees")
# result = cursor.fetchall()
cursor.execute("INSERT INTO orders (cid, pid, order_date, quantity) VALUES (5, 2, '2023-05-29', 3)")
conn.commit() # make changes saved into file
cursor.execute("SELECT * FROM orders")
result = cursor.fetchall()
print(result)

# Close the connection
conn.close()

OperationalError: ignored

In [63]:
# products (pid, name, unit_price)
# customers (cid, name, email)
# orders(cid, pid, quantity, purchase_date)

CREATE TABLE products(pid INTEGER PRIMARY KEY,
                      name TEXT NOT NULL,
                      unit_price REAL);

CREATE TABLE customers(cid INTEGER PRIMARY KEY,
                       name TEXT NOT NULL,
                       email TEXT UNIQUE);

CREATE TABLE orders(cid INTEGER,
                    pid INTEGER,
                    quantity INTEGER,
                    purchase_date TEXT,
                    PRIMARY KEY(cid, pid, purchase_date));

SyntaxError: ignored

That's all we know (for now) :)